USE [master]
GO
/****** Object:  Database [PandamiV1]    Script Date: 01/02/2021 18:44:00 ******/
CREATE DATABASE [PandamiV1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PandamiV1', FILENAME = N'C:\Users\PC\PandamiV1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PandamiV1_log', FILENAME = N'C:\Users\PC\PandamiV1_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PandamiV1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PandamiV1]
GO
USE [PandamiV1]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Adresses]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adresses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumeroDeVoie] [nvarchar](max) NULL,
	[NomDeVoie] [nvarchar](max) NULL,
	[CodePostal] [nvarchar](max) NULL,
	[Ville] [nvarchar](max) NULL,
	[latitude] [real] NOT NULL,
	[longitude] [real] NOT NULL,
 CONSTRAINT [PK_Adresses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategorieAides]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategorieAides](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Categorie] [nvarchar](max) NULL,
 CONSTRAINT [PK_CategorieAides] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disponibilites]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disponibilites](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DebutHeure] [datetime2](7) NOT NULL,
	[FinHeure] [datetime2](7) NOT NULL,
	[ValiditeDebutDate] [datetime2](7) NOT NULL,
	[ValiditeFinDate] [datetime2](7) NULL,
	[JourId] [int] NULL,
	[membreId] [int] NULL,
 CONSTRAINT [PK_Disponibilites] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feats]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[RealisationDate] [datetime2](7) NOT NULL,
	[HeureDebut] [datetime2](7) NOT NULL,
	[HeureFin] [datetime2](7) NOT NULL,
	[AcceptationDate] [datetime2](7) NULL,
	[EnCoursRealisation] [datetime2](7) NULL,
	[SurPlace] [datetime2](7) NULL,
	[FinFeatHelper] [datetime2](7) NULL,
	[ClotureDate] [datetime2](7) NULL,
	[SommePrevoir] [real] NULL,
	[SommeAvancee] [real] NULL,
	[SommeRembourseeDate] [datetime2](7) NULL,
	[AnnulationDate] [datetime2](7) NULL,
	[EchangeMonetaire] [bit] NOT NULL,
	[CreateurId] [int] NULL,
	[TypeId] [int] NULL,
	[MaterielId] [int] NULL,
	[AdresseId] [int] NULL,
 CONSTRAINT [PK_Feats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JourDeLaSemaines]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JourDeLaSemaines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomDuJour] [nvarchar](max) NULL,
 CONSTRAINT [PK_JourDeLaSemaines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Litiges]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Litiges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreationDate] [datetime2](7) NOT NULL,
	[ClotureDate] [datetime2](7) NULL,
	[Commentaire] [nvarchar](max) NULL,
	[TypeLitigeId] [int] NULL,
	[CreateurId] [int] NULL,
	[FeatId] [int] NULL,
 CONSTRAINT [PK_Litiges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materiels]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomMateriel] [nvarchar](max) NULL,
 CONSTRAINT [PK_Materiels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Membres]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Membres](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Nom] [nvarchar](50) NULL,
	[Prenom] [nvarchar](50) NULL,
	[Naissance] [datetime2](7) NOT NULL,
	[Telephone] [nvarchar](max) NULL,
	[Inscription] [datetime2](7) NOT NULL,
	[Mdp] [nvarchar](max) NULL,
	[SexeId] [int] NULL,
	[AdresseId] [int] NULL,
 CONSTRAINT [PK_Membres] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Negociations]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Negociations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DateCreationNegociation] [datetime2](7) NOT NULL,
	[DateClotureNegociation] [datetime2](7) NULL,
	[NewDateProposee] [datetime2](7) NOT NULL,
	[HeureDbtProposee] [datetime2](7) NOT NULL,
	[HeureFinProposee] [datetime2](7) NOT NULL,
	[IsAccepted] [bit] NOT NULL,
	[featId] [int] NULL,
	[DemandeurId] [int] NOT NULL,
	[RepondeurId] [int] NOT NULL,
 CONSTRAINT [PK_Negociations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreferenceAides]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreferenceAides](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MembreId] [int] NULL,
	[TypeAideId] [int] NULL,
	[ValiditeDebut] [datetime2](7) NOT NULL,
	[ValiditeFin] [datetime2](7) NULL,
 CONSTRAINT [PK_PreferenceAides] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RayonActions]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RayonActions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Rayon] [real] NOT NULL,
	[ValiditeDebut] [datetime2](7) NOT NULL,
	[ValiditeFin] [datetime2](7) NULL,
	[MembreId] [int] NULL,
 CONSTRAINT [PK_RayonActions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReponseHelpers]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReponseHelpers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AcceptationDate] [datetime2](7) NOT NULL,
	[DesistementDate] [datetime2](7) NULL,
	[HelperId] [int] NULL,
	[FeatId] [int] NULL,
 CONSTRAINT [PK_ReponseHelpers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sexes]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sexes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomSexe] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sexes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suspensions]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suspensions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DebutDate] [datetime2](7) NOT NULL,
	[FinDate] [datetime2](7) NULL,
	[MembreId] [int] NULL,
 CONSTRAINT [PK_Suspensions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeAides]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeAides](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomAide] [nvarchar](max) NULL,
	[CategorieAideId] [int] NULL,
 CONSTRAINT [PK_TypeAides] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeLitiges]    Script Date: 01/02/2021 18:44:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeLitiges](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Libelle] [nvarchar](max) NULL,
 CONSTRAINT [PK_TypeLitiges] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20210131223921_migrationLep', N'5.0.2')
GO
SET IDENTITY_INSERT [dbo].[Adresses] ON 

INSERT [dbo].[Adresses] ([Id], [NumeroDeVoie], [NomDeVoie], [CodePostal], [Ville], [latitude], [longitude]) VALUES (1, N'11', N'Rue Adrien Lesesne', N'93400', N'Saint-Ouen-sur-Seine', 48.90497, 2.349592)
INSERT [dbo].[Adresses] ([Id], [NumeroDeVoie], [NomDeVoie], [CodePostal], [Ville], [latitude], [longitude]) VALUES (2, N'12', N'Rue Adrien Lesesne', N'93400', N'Saint-Ouen-sur-Seine', 48.90467, 2.349408)
INSERT [dbo].[Adresses] ([Id], [NumeroDeVoie], [NomDeVoie], [CodePostal], [Ville], [latitude], [longitude]) VALUES (3, N'13', N'Rue Adrien Lesesne', N'93400', N'Saint-Ouen-sur-Seine', 48.9034271, 2.348759)
GO
SET IDENTITY_INSERT [dbo].[Adresses] OFF
GO
SET IDENTITY_INSERT [dbo].[CategorieAides] ON 

INSERT [dbo].[CategorieAides] ([Id], [Categorie]) VALUES (1, N'Extérieur')
INSERT [dbo].[CategorieAides] ([Id], [Categorie]) VALUES (2, N'Intérieur')
SET IDENTITY_INSERT [dbo].[CategorieAides] OFF
GO
SET IDENTITY_INSERT [dbo].[Disponibilites] ON 

INSERT [dbo].[Disponibilites] ([Id], [DebutHeure], [FinHeure], [ValiditeDebutDate], [ValiditeFinDate], [JourId], [membreId]) VALUES (1, CAST(N'0001-01-01T08:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T21:00:00.0000000' AS DateTime2), CAST(N'2021-02-01T00:00:00.0000000' AS DateTime2), NULL, 1, 3)
INSERT [dbo].[Disponibilites] ([Id], [DebutHeure], [FinHeure], [ValiditeDebutDate], [ValiditeFinDate], [JourId], [membreId]) VALUES (3, CAST(N'0001-01-01T08:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T21:00:00.0000000' AS DateTime2), CAST(N'2021-02-01T00:00:00.0000000' AS DateTime2), NULL, 3, 3)
INSERT [dbo].[Disponibilites] ([Id], [DebutHeure], [FinHeure], [ValiditeDebutDate], [ValiditeFinDate], [JourId], [membreId]) VALUES (4, CAST(N'0001-01-01T08:00:00.0000000' AS DateTime2), CAST(N'0001-01-01T21:00:00.0000000' AS DateTime2), CAST(N'2021-02-01T00:00:00.0000000' AS DateTime2), NULL, 2, 3)
SET IDENTITY_INSERT [dbo].[Disponibilites] OFF
GO
SET IDENTITY_INSERT [dbo].[Feats] ON 

SET IDENTITY_INSERT [dbo].[Feats] OFF
GO
SET IDENTITY_INSERT [dbo].[JourDeLaSemaines] ON 

INSERT [dbo].[JourDeLaSemaines] ([Id], [NomDuJour]) VALUES (1, N'Dimanche')
INSERT [dbo].[JourDeLaSemaines] ([Id], [NomDuJour]) VALUES (2, N'Lundi')
INSERT [dbo].[JourDeLaSemaines] ([Id], [NomDuJour]) VALUES (3, N'Mardi')
SET IDENTITY_INSERT [dbo].[JourDeLaSemaines] OFF
GO
SET IDENTITY_INSERT [dbo].[Materiels] ON 

INSERT [dbo].[Materiels] ([Id], [NomMateriel]) VALUES (1, N'Aucun')
INSERT [dbo].[Materiels] ([Id], [NomMateriel]) VALUES (2, N'Ordinateur')
INSERT [dbo].[Materiels] ([Id], [NomMateriel]) VALUES (3, N'Kit Jardinage')
SET IDENTITY_INSERT [dbo].[Materiels] OFF
GO
SET IDENTITY_INSERT [dbo].[Membres] ON 

INSERT [dbo].[Membres] ([Id], [Email], [Nom], [Prenom], [Naissance], [Telephone], [Inscription], [Mdp], [SexeId], [AdresseId]) VALUES (1, N'willy.lepante@eql.fr', N'Lepante', N'Willy', CAST(N'1940-01-01T00:00:00.0000000' AS DateTime2), N'0902036587', CAST(N'2021-01-31T23:43:11.0000000' AS DateTime2), N'123456', 1, 131)
INSERT [dbo].[Membres] ([Id], [Email], [Nom], [Prenom], [Naissance], [Telephone], [Inscription], [Mdp], [SexeId], [AdresseId]) VALUES (2, N'patrice.fernandez@eql.fr', N'Fernandez', N'Patrice', CAST(N'1940-01-01T00:00:00.0000000' AS DateTime2), N'0902147865', CAST(N'2021-01-31T23:44:53.1436814' AS DateTime2), N'123456', 1, 480)
INSERT [dbo].[Membres] ([Id], [Email], [Nom], [Prenom], [Naissance], [Telephone], [Inscription], [Mdp], [SexeId], [AdresseId]) VALUES (3, N'stephane.chicheportiche@eql.fr', N'Chicheportiche', N'Stephane', CAST(N'1940-01-01T00:00:00.0000000' AS DateTime2), N'0987563241', CAST(N'2021-01-31T23:46:04.5013323' AS DateTime2), N'123456', 1, 2791)
SET IDENTITY_INSERT [dbo].[Membres] OFF
GO
SET IDENTITY_INSERT [dbo].[Negociations] ON 

INSERT [dbo].[Negociations] ([Id], [DateCreationNegociation], [DateClotureNegociation], [NewDateProposee], [HeureDbtProposee], [HeureFinProposee], [IsAccepted], [featId], [DemandeurId], [RepondeurId]) VALUES (1, CAST(N'2021-02-01T00:00:34.7859420' AS DateTime2), CAST(N'2021-02-01T00:01:00.3560540' AS DateTime2), CAST(N'2021-02-02T00:00:00.0000000' AS DateTime2), CAST(N'2021-02-01T14:00:00.0000000' AS DateTime2), CAST(N'2021-02-01T20:00:00.0000000' AS DateTime2), 1, 7, 10, 1)
INSERT [dbo].[Negociations] ([Id], [DateCreationNegociation], [DateClotureNegociation], [NewDateProposee], [HeureDbtProposee], [HeureFinProposee], [IsAccepted], [featId], [DemandeurId], [RepondeurId]) VALUES (2, CAST(N'2021-02-01T09:25:02.6543088' AS DateTime2), CAST(N'2021-02-01T09:50:13.0348528' AS DateTime2), CAST(N'2021-02-02T00:00:00.0000000' AS DateTime2), CAST(N'2021-02-01T16:00:00.0000000' AS DateTime2), CAST(N'2021-02-01T20:00:00.0000000' AS DateTime2), 1, 7, 1, 10)
INSERT [dbo].[Negociations] ([Id], [DateCreationNegociation], [DateClotureNegociation], [NewDateProposee], [HeureDbtProposee], [HeureFinProposee], [IsAccepted], [featId], [DemandeurId], [RepondeurId]) VALUES (3, CAST(N'2021-02-01T10:36:32.9932179' AS DateTime2), CAST(N'2021-02-01T17:41:23.6192609' AS DateTime2), CAST(N'2021-02-02T00:00:00.0000000' AS DateTime2), CAST(N'2021-02-01T16:00:00.0000000' AS DateTime2), CAST(N'2021-02-01T18:00:00.0000000' AS DateTime2), 1, 7, 1, 10)
SET IDENTITY_INSERT [dbo].[Negociations] OFF
GO
SET IDENTITY_INSERT [dbo].[PreferenceAides] ON 

INSERT [dbo].[PreferenceAides] ([Id], [MembreId], [TypeAideId], [ValiditeDebut], [ValiditeFin]) VALUES (1, 3, 7, CAST(N'2021-02-01T11:52:07.0492092' AS DateTime2), NULL)
INSERT [dbo].[PreferenceAides] ([Id], [MembreId], [TypeAideId], [ValiditeDebut], [ValiditeFin]) VALUES (2, 3, 4, CAST(N'2021-02-01T11:52:07.0498267' AS DateTime2), NULL)
INSERT [dbo].[PreferenceAides] ([Id], [MembreId], [TypeAideId], [ValiditeDebut], [ValiditeFin]) VALUES (3, 1, 4, CAST(N'2021-02-01T16:28:02.5948810' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[PreferenceAides] OFF
GO
SET IDENTITY_INSERT [dbo].[RayonActions] ON 

INSERT [dbo].[RayonActions] ([Id], [Rayon], [ValiditeDebut], [ValiditeFin], [MembreId]) VALUES (1, 10, CAST(N'2021-02-01T11:52:07.0665464' AS DateTime2), NULL, 3)
INSERT [dbo].[RayonActions] ([Id], [Rayon], [ValiditeDebut], [ValiditeFin], [MembreId]) VALUES (2, 10, CAST(N'2021-02-01T16:56:37.6996522' AS DateTime2), NULL, 9)
INSERT [dbo].[RayonActions] ([Id], [Rayon], [ValiditeDebut], [ValiditeFin], [MembreId]) VALUES (3, 4, CAST(N'2021-02-01T16:59:36.1633616' AS DateTime2), NULL, 6)
SET IDENTITY_INSERT [dbo].[RayonActions] OFF
GO
SET IDENTITY_INSERT [dbo].[ReponseHelpers] ON 

INSERT [dbo].[ReponseHelpers] ([Id], [AcceptationDate], [DesistementDate], [HelperId], [FeatId]) VALUES (1, CAST(N'2021-01-31T23:56:52.4158223' AS DateTime2), NULL, 1, 1)
INSERT [dbo].[ReponseHelpers] ([Id], [AcceptationDate], [DesistementDate], [HelperId], [FeatId]) VALUES (2, CAST(N'2021-01-31T23:56:57.9327889' AS DateTime2), NULL, 1, 2)
INSERT [dbo].[ReponseHelpers] ([Id], [AcceptationDate], [DesistementDate], [HelperId], [FeatId]) VALUES (3, CAST(N'2021-01-31T23:57:03.5828824' AS DateTime2), NULL, 1, 3)
SET IDENTITY_INSERT [dbo].[ReponseHelpers] OFF
GO
SET IDENTITY_INSERT [dbo].[Sexes] ON 

INSERT [dbo].[Sexes] ([Id], [NomSexe]) VALUES (1, N'Homme')
INSERT [dbo].[Sexes] ([Id], [NomSexe]) VALUES (2, N'Femme')
SET IDENTITY_INSERT [dbo].[Sexes] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeAides] ON 

INSERT [dbo].[TypeAides] ([Id], [NomAide], [CategorieAideId]) VALUES (1, N'Visite de courtoisie', 1)
INSERT [dbo].[TypeAides] ([Id], [NomAide], [CategorieAideId]) VALUES (2, N'Soutien scolaire', 1)
INSERT [dbo].[TypeAides] ([Id], [NomAide], [CategorieAideId]) VALUES (3, N'Course', 2)
SET IDENTITY_INSERT [dbo].[TypeAides] OFF
GO
SET IDENTITY_INSERT [dbo].[TypeLitiges] ON 

INSERT [dbo].[TypeLitiges] ([Id], [Libelle]) VALUES (1, N'Casse')
INSERT [dbo].[TypeLitiges] ([Id], [Libelle]) VALUES (2, N'Helper ne s''est pas présenter')
INSERT [dbo].[TypeLitiges] ([Id], [Libelle]) VALUES (3, N'Giftee absent')
SET IDENTITY_INSERT [dbo].[TypeLitiges] OFF
GO
/****** Object:  Index [IX_Disponibilites_JourId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Disponibilites_JourId] ON [dbo].[Disponibilites]
(
	[JourId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Disponibilites_membreId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Disponibilites_membreId] ON [dbo].[Disponibilites]
(
	[membreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feats_AdresseId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Feats_AdresseId] ON [dbo].[Feats]
(
	[AdresseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feats_CreateurId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Feats_CreateurId] ON [dbo].[Feats]
(
	[CreateurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feats_MaterielId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Feats_MaterielId] ON [dbo].[Feats]
(
	[MaterielId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feats_TypeId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Feats_TypeId] ON [dbo].[Feats]
(
	[TypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Litiges_CreateurId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Litiges_CreateurId] ON [dbo].[Litiges]
(
	[CreateurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Litiges_FeatId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Litiges_FeatId] ON [dbo].[Litiges]
(
	[FeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Litiges_TypeLitigeId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Litiges_TypeLitigeId] ON [dbo].[Litiges]
(
	[TypeLitigeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Membres_AdresseId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Membres_AdresseId] ON [dbo].[Membres]
(
	[AdresseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Membres_SexeId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Membres_SexeId] ON [dbo].[Membres]
(
	[SexeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Negociations_DemandeurId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Negociations_DemandeurId] ON [dbo].[Negociations]
(
	[DemandeurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Negociations_featId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Negociations_featId] ON [dbo].[Negociations]
(
	[featId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Negociations_RepondeurId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Negociations_RepondeurId] ON [dbo].[Negociations]
(
	[RepondeurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PreferenceAides_MembreId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_PreferenceAides_MembreId] ON [dbo].[PreferenceAides]
(
	[MembreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_PreferenceAides_TypeAideId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_PreferenceAides_TypeAideId] ON [dbo].[PreferenceAides]
(
	[TypeAideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RayonActions_MembreId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_RayonActions_MembreId] ON [dbo].[RayonActions]
(
	[MembreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReponseHelpers_FeatId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_ReponseHelpers_FeatId] ON [dbo].[ReponseHelpers]
(
	[FeatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReponseHelpers_HelperId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_ReponseHelpers_HelperId] ON [dbo].[ReponseHelpers]
(
	[HelperId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Suspensions_MembreId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_Suspensions_MembreId] ON [dbo].[Suspensions]
(
	[MembreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeAides_CategorieAideId]    Script Date: 01/02/2021 18:44:01 ******/
CREATE NONCLUSTERED INDEX [IX_TypeAides_CategorieAideId] ON [dbo].[TypeAides]
(
	[CategorieAideId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Disponibilites]  WITH CHECK ADD  CONSTRAINT [FK_Disponibilites_JourDeLaSemaines_JourId] FOREIGN KEY([JourId])
REFERENCES [dbo].[JourDeLaSemaines] ([Id])
GO
ALTER TABLE [dbo].[Disponibilites] CHECK CONSTRAINT [FK_Disponibilites_JourDeLaSemaines_JourId]
GO
ALTER TABLE [dbo].[Disponibilites]  WITH CHECK ADD  CONSTRAINT [FK_Disponibilites_Membres_membreId] FOREIGN KEY([membreId])
REFERENCES [dbo].[Membres] ([Id])
GO
ALTER TABLE [dbo].[Disponibilites] CHECK CONSTRAINT [FK_Disponibilites_Membres_membreId]
GO
ALTER TABLE [dbo].[Feats]  WITH CHECK ADD  CONSTRAINT [FK_Feats_Adresses_AdresseId] FOREIGN KEY([AdresseId])
REFERENCES [dbo].[Adresses] ([Id])
GO
ALTER TABLE [dbo].[Feats] CHECK CONSTRAINT [FK_Feats_Adresses_AdresseId]
GO
ALTER TABLE [dbo].[Feats]  WITH CHECK ADD  CONSTRAINT [FK_Feats_Materiels_MaterielId] FOREIGN KEY([MaterielId])
REFERENCES [dbo].[Materiels] ([Id])
GO
ALTER TABLE [dbo].[Feats] CHECK CONSTRAINT [FK_Feats_Materiels_MaterielId]
GO
ALTER TABLE [dbo].[Feats]  WITH CHECK ADD  CONSTRAINT [FK_Feats_Membres_CreateurId] FOREIGN KEY([CreateurId])
REFERENCES [dbo].[Membres] ([Id])
GO
ALTER TABLE [dbo].[Feats] CHECK CONSTRAINT [FK_Feats_Membres_CreateurId]
GO
ALTER TABLE [dbo].[Feats]  WITH CHECK ADD  CONSTRAINT [FK_Feats_TypeAides_TypeId] FOREIGN KEY([TypeId])
REFERENCES [dbo].[TypeAides] ([Id])
GO
ALTER TABLE [dbo].[Feats] CHECK CONSTRAINT [FK_Feats_TypeAides_TypeId]
GO
ALTER TABLE [dbo].[Litiges]  WITH CHECK ADD  CONSTRAINT [FK_Litiges_Feats_FeatId] FOREIGN KEY([FeatId])
REFERENCES [dbo].[Feats] ([Id])
GO
ALTER TABLE [dbo].[Litiges] CHECK CONSTRAINT [FK_Litiges_Feats_FeatId]
GO
ALTER TABLE [dbo].[Litiges]  WITH CHECK ADD  CONSTRAINT [FK_Litiges_Membres_CreateurId] FOREIGN KEY([CreateurId])
REFERENCES [dbo].[Membres] ([Id])
GO
ALTER TABLE [dbo].[Litiges] CHECK CONSTRAINT [FK_Litiges_Membres_CreateurId]
GO
ALTER TABLE [dbo].[Litiges]  WITH CHECK ADD  CONSTRAINT [FK_Litiges_TypeLitiges_TypeLitigeId] FOREIGN KEY([TypeLitigeId])
REFERENCES [dbo].[TypeLitiges] ([Id])
GO
ALTER TABLE [dbo].[Litiges] CHECK CONSTRAINT [FK_Litiges_TypeLitiges_TypeLitigeId]
GO
ALTER TABLE [dbo].[Membres]  WITH CHECK ADD  CONSTRAINT [FK_Membres_Adresses_AdresseId] FOREIGN KEY([AdresseId])
REFERENCES [dbo].[Adresses] ([Id])
GO
ALTER TABLE [dbo].[Membres] CHECK CONSTRAINT [FK_Membres_Adresses_AdresseId]
GO
ALTER TABLE [dbo].[Membres]  WITH CHECK ADD  CONSTRAINT [FK_Membres_Sexes_SexeId] FOREIGN KEY([SexeId])
REFERENCES [dbo].[Sexes] ([Id])
GO
ALTER TABLE [dbo].[Membres] CHECK CONSTRAINT [FK_Membres_Sexes_SexeId]
GO
ALTER TABLE [dbo].[Negociations]  WITH CHECK ADD  CONSTRAINT [FK_Negociations_Feats_featId] FOREIGN KEY([featId])
REFERENCES [dbo].[Feats] ([Id])
GO
ALTER TABLE [dbo].[Negociations] CHECK CONSTRAINT [FK_Negociations_Feats_featId]
GO
ALTER TABLE [dbo].[Negociations]  WITH CHECK ADD  CONSTRAINT [FK_Negociations_Membres_DemandeurId] FOREIGN KEY([DemandeurId])
REFERENCES [dbo].[Membres] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Negociations] CHECK CONSTRAINT [FK_Negociations_Membres_DemandeurId]
GO
ALTER TABLE [dbo].[Negociations]  WITH CHECK ADD  CONSTRAINT [FK_Negociations_Membres_RepondeurId] FOREIGN KEY([RepondeurId])
REFERENCES [dbo].[Membres] ([Id])
GO
ALTER TABLE [dbo].[Negociations] CHECK CONSTRAINT [FK_Negociations_Membres_RepondeurId]
GO
ALTER TABLE [dbo].[PreferenceAides]  WITH CHECK ADD  CONSTRAINT [FK_PreferenceAides_Membres_MembreId] FOREIGN KEY([MembreId])
REFERENCES [dbo].[Membres] ([Id])
GO
ALTER TABLE [dbo].[PreferenceAides] CHECK CONSTRAINT [FK_PreferenceAides_Membres_MembreId]
GO
ALTER TABLE [dbo].[PreferenceAides]  WITH CHECK ADD  CONSTRAINT [FK_PreferenceAides_TypeAides_TypeAideId] FOREIGN KEY([TypeAideId])
REFERENCES [dbo].[TypeAides] ([Id])
GO
ALTER TABLE [dbo].[PreferenceAides] CHECK CONSTRAINT [FK_PreferenceAides_TypeAides_TypeAideId]
GO
ALTER TABLE [dbo].[RayonActions]  WITH CHECK ADD  CONSTRAINT [FK_RayonActions_Membres_MembreId] FOREIGN KEY([MembreId])
REFERENCES [dbo].[Membres] ([Id])
GO
ALTER TABLE [dbo].[RayonActions] CHECK CONSTRAINT [FK_RayonActions_Membres_MembreId]
GO
ALTER TABLE [dbo].[ReponseHelpers]  WITH CHECK ADD  CONSTRAINT [FK_ReponseHelpers_Feats_FeatId] FOREIGN KEY([FeatId])
REFERENCES [dbo].[Feats] ([Id])
GO
ALTER TABLE [dbo].[ReponseHelpers] CHECK CONSTRAINT [FK_ReponseHelpers_Feats_FeatId]
GO
ALTER TABLE [dbo].[ReponseHelpers]  WITH CHECK ADD  CONSTRAINT [FK_ReponseHelpers_Membres_HelperId] FOREIGN KEY([HelperId])
REFERENCES [dbo].[Membres] ([Id])
GO
ALTER TABLE [dbo].[ReponseHelpers] CHECK CONSTRAINT [FK_ReponseHelpers_Membres_HelperId]
GO
ALTER TABLE [dbo].[Suspensions]  WITH CHECK ADD  CONSTRAINT [FK_Suspensions_Membres_MembreId] FOREIGN KEY([MembreId])
REFERENCES [dbo].[Membres] ([Id])
GO
ALTER TABLE [dbo].[Suspensions] CHECK CONSTRAINT [FK_Suspensions_Membres_MembreId]
GO
ALTER TABLE [dbo].[TypeAides]  WITH CHECK ADD  CONSTRAINT [FK_TypeAides_CategorieAides_CategorieAideId] FOREIGN KEY([CategorieAideId])
REFERENCES [dbo].[CategorieAides] ([Id])
GO
ALTER TABLE [dbo].[TypeAides] CHECK CONSTRAINT [FK_TypeAides_CategorieAides_CategorieAideId]
GO
USE [master]
GO
