@model Pandami.Models.Membre

@{
    ViewData["Title"] = "Home Feats Home";
}
<link rel="stylesheet" href="~/css/site.css" />

<h1>Hello hello</h1>
<div>@Html.DisplayFor(model => model.Nom)</div>
<div>@DateTime.Now</div>