@model Pandami.Models.Disponibilite

@{
    ViewData["Title"] = "DispoAjout";
}

<h1>Disponibilités</h1>
<h4>Membre connecté : @ViewBag.PrenomMembre @ViewBag.NomMembre</h4>
<hr />

@if (ViewBag.Cree)
{

<div class="padding-10 message">Disponibilité Ajoutée</div>
<div>
    <a asp-action="Dispo" asp-route-id="@Model.membre.Id" class="padding-10">Retour sur mes disponibilités</a>
</div>
}
else { 
<div class="row">
    <div class="col-md-4">

        <form asp-action="DispoAjout" method="post" class="padding-10">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="IdMembre" value=@ViewBag.IdMembre />
            <div class="form-group">
                <label asp-for="Jour" class="control-label"></label>
                <select asp-for="Jour" asp-items=@ViewBag.ListJour class="padding-10">
                </select>
                <span asp-validation-for="Jour" class="text-danger"></span>
            </div>
            <div class="padding-vert">
                Matin : <input type="checkbox" name="matin" value="true" />
                
            </div>
            <div class="padding-vert">Aprés Midi : <input type="checkbox" name="apresMidi" value="true" /></div>


            <div class="form-group">
                <label asp-for="ValiditeDebutDate" class="control-label">A partir de </label>
                <input asp-for="ValiditeDebutDate" class="form-control" />
                <span asp-validation-for="ValiditeDebutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValiditeFinDate" class="control-label">Jusqu'à (Facultatif)</label>
                <input asp-for="ValiditeFinDate" class="form-control" />
                <span asp-validation-for="ValiditeFinDate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
