@model Pandami.Models.Disponibilite

@{
    ViewData["Title"] = "DispoAjout";
}

<h1>DispoAjout</h1>

<h4>Disponibilite</h4>
<hr />

@if (ViewBag.Cree)
{

<div>Disponibilité Ajoutée</div>
<div>
    <a asp-action="Dispo" asp-route-id="@Model.membre.Id">Back to List</a>
</div>
}
else { 
<div class="row">
    <div class="col-md-4">

        <form asp-action="DispoAjout" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="IdMembre" value=@ViewBag.IdMembre />
            <div class="form-group">
                <label asp-for="Jour" class="control-label"></label>
                <select asp-for="Jour" asp-items=@ViewBag.ListJour>
                </select>
                <span asp-validation-for="Jour" class="text-danger"></span>
            </div>

            Matin : <input type="checkbox" name="matin" value="true" />
            Aprés Midi : <input type="checkbox" name="apresMidi" value="true" />
            <div></div>
            <div></div>


            <div class="form-group">
                <label asp-for="ValiditeDebutDate" class="control-label">A partir de </label>
                <input asp-for="ValiditeDebutDate" class="form-control" />
                <span asp-validation-for="ValiditeDebutDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValiditeFinDate" class="control-label">Jusqu'à (Facultatif)</label>
                <input asp-for="ValiditeFinDate" class="form-control" />
                <span asp-validation-for="ValiditeFinDate" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <input type="submit" value="DispoAjout" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
