@model Pandami.Models.Membre
@{
    ViewData["Title"] = "Login";

    var email = "";


}


<h1>Login</h1>
<hr />
@if (ViewBag.Id != null)
{
<div>   Ca va marcher @ViewBag.Id </div>
<a asp-controller="PAFeats" asp-action="HomeFeatsHome" asp-route-id="@ViewBag.Id">Edit</a>
}
else
{
<div class="row">
    <div class="col-md-13">
        <form id="login" asp-action="Login" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">

                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" name="Email" type="text" class="form-control" size="30" />

                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class=" form-group">
                <label asp-for="Mdp" class="control-label">Password</label>
                <input asp-for="Mdp" name="Mdp" type="password" class="form-control" />
                <span asp-validation-for="Mdp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" asp-action="Login" />
            </div>
            

        </form>
    </div>
</div>

}


<div>
    <a asp-action="Creation">Créer un Compte</a>
</div>

