@model Pandami.Models.Membre

@{
    ViewData["Title"] = "Edit";
}

<h1>Modifier mon profil</h1>
<h4>Membre connecté : @ViewBag.PrenomMembre @ViewBag.NomMembre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Inscription" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naissance" class="control-label"></label>
                <input asp-for="Naissance" class="form-control" />
                <span asp-validation-for="Naissance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telephone" class="control-label"></label>
                <input asp-for="Telephone" class="form-control" />
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexe" class="control-label"></label>
                <select asp-for="Sexe" asp-items=@ViewBag.ListSexe>
                </select>
                <span asp-validation-for="Sexe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <select asp-for="Adresse" asp-items=@ViewBag.ListAdresse>
                </select>
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Mdp" class="control-label"></label>
                <input asp-for="Mdp" class="form-control" />
                <span asp-validation-for="Mdp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-primary" asp-route-id="@Model.Id" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="PAFeats" asp-action="HomeFeatsHome" asp-route-id="@Model.Id">Retour Home Feat Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
