

@{
}
<body>
    <div class="container">
        @using (Html.BeginForm("Index", "Home"))
        {
            foreach (var item in ViewBag.CheckType)
            {
                <div class="checkbox">
                    <label>@item.Text
                        <input type="checkbox"
                               name="@item.Text"
                               value="@item.Value"/>
                              @* @if (ViewBag.CheckType.Contains(item.Value)) { <text> checked </text>  } /> @item.Text*@
                        </label>
                    </div>
                }
                <div class="form-group text-center">
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            }
    </div>
</body>