/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

header {
    /*background-color: #f2d18a;*/
    background-color: #c9d5ac;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /*background: linear-gradient(#32ccbc, #32ccbc);*/
    /*background: linear-gradient(#58b1ba, #a1e9f2);   couleur v1 #a1e9f2*/
    /*background-color: #165d65;*/
    background-color: #165d65;
    font-family: Verdana;
    color: antiquewhite;
}

h1 {
    color: antiquewhite;
    text-align: center;
}

h4 {
    text-align: left;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.pb-3 {
    // background-color: darkgoldenrod;
}



/* Provide sufficient contrast against white background */
a {
    /*color: rgb(25, 104, 89);*/
    color:antiquewhite;
    font-weight: 500;
}

    a:hover {
        color: rgb(25, 104, 89);
        font-weight: 600;
    } 






.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}



.display-4 {
    color: darkblue;
}

.btn-secondary {
    margin: 10px 10px 10px 0px;
}

.btn-danger {
    margin: 10px 10px 10px 0px;
}

.btnDeroulement {
    color: black;
    background-color: #c9d5ac;
    border-color: #9f8a5e;
    margin: 10px 10px 10px 0px;
    font-size: 20px;
    padding: 32px 16px;
}

.btn-primary {
    color: black;
    background-color: #c9d5ac;
    border-color: #9f8a5e;
    margin: 10px 10px 10px 0px;
}



    .btn-primary:hover {
        color: black;
        background-color: #d9bb7c;
        border-color: #d9bb7c;
    }


    .btn-primary:focus, .btn-primary.focus {
        box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }

    .btn-primary.disabled, .btn-primary:disabled {
        color: #fff;
        background-color: #20343f;
        border-color: #007bff;
    }

    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
        color: black;
        background-color: #d9bb7c;
        border-color: #d9bb7c;
    }

    .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
    }



table {
    border-collapse: collapse;
    border: 3px solid #20343f;
    table-layout: auto;
    width: 100%;
    text-align: center;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    vertical-align: middle;
}

table tbody tr:nth-child(odd) {
    background-color: #558d93;
}

thead {
    border: 2px solid rgb(100, 100, 100);
    min-width: 100px;
    color: antiquewhite;
}

td {
    min-width: 7vw;
    max-width: 12vw;
    vertical-align: middle;
    color: antiquewhite;
}

.realisedFeat {
    opacity: 0.3;
    color: antiquewhite;
}

.row {
    min-width: 80vw;
    max-width: 600vw;
    vertical-align: middle;
    min-height: 30vw;
}

.tableBouton {
    border-collapse: collapse;
    border: hidden;
    /*table-layout: auto;*/
    width: 100%;
    max-width: 25vw;
}

.col-md-4 {
    min-width: 7vw;
    max-width:12vw;
}

.colLeBron {
    min-width: 8vw;
    max-width: 14vw;
}

.col-sm-9 {
    color: hotpink;
}