@model Pandami.Models.Feat.CreationFeat

@{
    ViewData["Title"] = "Create";

}

<p></p>
<h1>Create</h1>

<h4>Feat</h4>
<div>   Ca va marcher @ViewBag.Id </div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Createur" value="@ViewBag.Id" />
            <input type="hidden" name="Test" value="sdfsdf" />
            <div class="form-group">
                <label class="control-label">Nom du Giftee</label>
                <input id="Text1" type="text" value="@ViewBag.Nom" disabled="disabled" />
            </div>

            <div class="form-group">
                <label>Activité </label>
                <label asp-for="AideChoisie" class="control-label">Aide demandée</label>
                <select asp-for="AideChoisie" asp-items="Model.TypesAide" id="maListe">
                </select>
                <span asp-validation-for="AideChoisie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RealisationDate" class="control-label"></label>
                <input asp-for="RealisationDate" class="form-control" value="2020-01-01" />
                <span asp-validation-for="RealisationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeureDebut" class="control-label"></label>
                <input asp-for="HeureDebut" class="form-control" value="14:00" />
                <span asp-validation-for="HeureDebut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeureFin" class="control-label"></label>
                <input asp-for="HeureFin" class="form-control" value="20:00"/>
                <span asp-validation-for="HeureFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SommePrevoir" class="control-label"></label>
                <input asp-for="SommePrevoir" class="form-control" />
                <span asp-validation-for="SommePrevoir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="HomeFeatsHome">Back to List</a>
</div>
<!--script-- src="https://code.jquery.com/jquery-1.12.4.min.js"></!--script-->
<!--script-- type="text/javascript">
    $(document).ready(function () {
        $("input[type='radio']").click(function () {
            var val = $("input[name='CategorieRadio']:checked").val();
            /* if (val == "Interieur") {
                 alert("Votre service sera : " + val);
            }
             if (val == "Exterieur") {
                 alert("Votre service sera : " + val);
             }
             */
            //var liste = document.getElementById("Id")
        });


    });

</!--script-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
