@model Pandami.Models.Membre


@{
    ViewData["Title"] = "Home Feats Home";
}
<link rel="stylesheet" href="~/css/site.css" />

<h1>Hello hello</h1>
<<<<<<< HEAD

<div>   Bonjour M. @Model.Nom</div>



<div>@DateTime.Now</div>
=======
<div>@Html.DisplayFor(model => model.Nom)</div>
<div>@DateTime.Now</div>
<div>
    <a asp-action="Creation">Créer un Feat</a>
</div>
>>>>>>> 4dcbd74a94325c8870edf4ffbbcf6d0e013a3553
}