@model Pandami.Models.Litige

@{
    ViewData["Title"] = "Litige";
}

<h1>Litige</h1>
<h4>Membre connecté : @ViewBag.PrenomMembre @ViewBag.NomMembre</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="LitigePost">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TypeLitige" class="control-label">Raison du litige</label>
                <select asp-for="TypeLitige" asp-items=@ViewBag.TypeLitige class="padding-10">
                </select>
                <span asp-validation-for="TypeLitige" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Commentaire" class="control-label"></label>
                <input asp-for="Commentaire" type="text" size="80" class="form-control" />
                <span asp-validation-for="Commentaire" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Feat" />
            <input type="hidden" asp-for="CreationDate" />
            <input type="hidden" asp-for="Createur" />
            <input type="hidden" name="IdMembre" value="@Model.Createur.Id" />
            <div class="form-group">

                <input type="submit" value="Valider" class="btn btn-primary" />

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
